body {
  background-image: url("https://i.postimg.cc/280VXjrw/flowers.jpg");
  background-color: #cccccc;
}
.tile-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 75px;
}
