* {
  color: black;
  font-weight: bold;
}

.sponge-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.spot-container {
  text-decoration: none;
}

.spot-container:hover {
  text-decoration: underline;
}
.spot-img {
  width: 300px;
  height: 250px;
  border: 3px solid black;
}

/* .spot-text {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  text-decoration: none;
} */

.spot-rating {
  text-decoration: none;
}

.star {
  width: 25px;
  height: 20px;
  padding-top: 15px;
}

.rating-all-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border-radius: 10px;
  text-align: center;
}

/* .spot-location-rating {

} */

.spot-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.average-rating {
  display: flex;
}

.errors {
  color: red;
  font-weight: bold;
}
