.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.home {
  text-decoration: none;
  color: black;
}

.home:hover {
  color: blue;
  text-decoration: underline;
}
